{% extends "subase.html" %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript"
        src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">MathJax.Hub.Config({"showMathMenu": false, "tex2jax":
    {"inlineMath": [["$", "$"], ["\\(", "\\)"]]}});</script>
{{ form.media }}
{% endblock scripts %}

{% block page_title %}Ask a question{% endblock %}

{% block subcontent %}

{% if errors %}
<ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<question data="{% for tag in question.tags.all %}{{ tag.pk }} {% endfor %}">

    <h3>{% if question.draft %}{draft} {% endif %}{{ question.title }}</h3>
    <span class="info">
        <em class="date">Asked {{ question.create_at }}</em>,
        <span class="place"><em>by</em>
            <strong>{{ question.user }}</strong></span>
        <span class="viewcount">
            <p class="count">viewed {{ question.hit_count.hits }} times</p>
        </span>
        <span class="tags">
            {% for tag in question.tags.all %}
            <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </span>
    </span>
    <div class="content markup-container">
        {{ question.content_html|safe }}
    </div>
</question>

<form action="{% url 'qa:answer' question.slug_title %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Answer" class="btn" />
</form>

{% endblock subcontent %}