{% extends "subase.html" %}

{% block scripts %}
{{ block.super }}

<script type="text/javascript"
        src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">MathJax.Hub.Config({"showMathMenu": false, "tex2jax":
    {"inlineMath": [["$", "$"], ["\\(", "\\)"]]}});</script>
{% endblock scripts %}

{% block subcontent %}

{% if questions %}

{% for question in questions %}
<div class="question" data="{% for tag in question.tags.all %}{{ tag.pk }} {% endfor %}">
    <h3>
        <a href="{% url 'qa:question' question.slug_title %}">
            {{ question.title }}
        </a>
    </h3>
    <span class="info">
        <em class="date">{{ question.create_at }}</em>,
        <span class="author"><em>from</em>
            <strong>{{ question.user.full_name }}</strong></span>
        <span class="tags">
            {% for tag in question.tags.all %}
            <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </span>
        <span class="hits">{{ question.hit_count.hits }}</span>
    </span>
</div>
{% endfor %}

{% else %}
It looks like no one asked any question... yet.
{% endif %}

{% endblock subcontent %}
