pre .c{
  color:#998;
  font-style:italic
}

pre .err{
  color:#a61717;
  background-color:#e3d2d2
}

pre .cm{
  color:#998;
  font-style:italic
}

pre .c1{
  color:#998;
  font-style:italic
}

pre .cs{
  color:#999;
  font-style:italic
}

pre .gd{
  color:#000;
  background-color:#fdd
}

pre .ge{
  font-style:italic
}

pre .gr{
  color:#a00
}

pre .gh{
  color:#999
}

pre .gi{
  color:#000;
  background-color:#dfd
}

pre .go{
  color:#888
}

pre .gp{
  color:#555
}

pre .gu{
  color:#aaa
}

pre .gt{
  color:#a00
}

pre .k{
  color:#004080
}

pre .kc{
  color:#004080
}

pre .kd{
  color:#004080
}

pre .kp{
  color:#004080
}

pre .kr{
  color:#004080
}

pre .kt{
  color:#458
}

pre .m{
  color:#099
}

pre .s{
  color:#b84
}

pre .na{
  color:#008080
}

pre .nb{
  color:#999
}

pre .nc{
  color:#458
}

pre .no{
  color:#008080
}

pre .ni{
  color:#800080
}

pre .ne{
  color:#900
}

pre .nf{
  color:#900
}

pre .nn{
  color:#555
}

pre .nt{
  color:#000080
}

pre .nv{
  color:#008080
}

pre .w{
  color:#bbb
}

pre .mf{
  color:#099
}

pre .mh{
  color:#099
}

pre .mi{
  color:#099
}

pre .mo{
  color:#099
}

pre .sb{
  color:#b84
}

pre .sc{
  color:#b84
}

pre .sd{
  color:#b84
}

pre .s2{
  color:#b84
}

pre .se{
  color:#b84
}

pre .sh{
  color:#b84
}

pre .si{
  color:#b84
}

pre .sx{
  color:#b84
}

pre .sr{
  color:#808000
}

pre .s1{
  color:#b84
}

pre .ss{
  color:#b84
}

pre .bp{
  color:#999
}

pre .vc{
  color:#008080
}

pre .vg{
  color:#008080
}

pre .vi{
  color:#008080
}

pre .il{
  color:#099
}
