@import "fonts.css";

* {
    outline-style: none;
}

body {
    background: #ffffff;
    color: #2b2b2b;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    float: none;
}

header {
    background: #ededed;
}

header .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

header #logo {
    margin: 0 30px 0 0;
    float: right;
    padding: 10px 0 23px 0;
}

header #logo a {
    display: inline-block;
    font-weight: normal;
    font-size: 26px;
    text-decoration: none;
    color: #4d4d4d;
}

header #logo a:hover {
    color: #3b3b3b;
}

header #menu {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 22px 0 10px 0;
}

header #menu li {
    display: inline-block;
    margin: 0px 4px;
}

header #menu li a {
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #4b4b4b;
    padding: 7px 11px;
}

header #menu li a.active, header #menu li a:hover {
    background: #dedede;
}

#content {
    max-width: 900px;
    padding: 20px 15px;
    margin: 0 auto;
}

#filter {
    margin: 7px 0;
    vertical-align: middle;
}

#filter em {
    font-family: 'Open Sans';
}

#filter .tag:hover {
    cursor: pointer;
}

#filter .tag.active, #filter .tag.active:hover {
    background-color: #E6576F;
    color: white;
}

.tag, .read-more, .btn {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #3d3d3d;
    font-size: 14px;
    margin: 0 2px;
    padding: 2px 5px;
    background: #E1ECF4;
    text-decoration: none;
}

.read-more, .btn {
    margin: 0;
    background: transparent;
    border: 1px solid #4d4d4d;
    margin-bottom: 7px;
}


.tag.active, .read-more:hover, #filter .tag:hover, .btn:hover
{
    background-color: #4d4d4d;
    color: #f2f2f2;
    cursor: pointer;
}

.read-more:hover {
    border-color: #4d4d4d;
}

#questions {
    width: 100%;
    margin: 0 auto;
}

#content .question {
    padding: 4px 0;
    margin-bottom: 4px;
}

#content .question.draft {
    opacity: .7;
}

#content .question > .counter {
    text-align: center;
    vertical-align: center;
    padding: 7px 12px;
    font-size: 12px;
    width: 1%;
}

#content .question > .counter > p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#content .question > .content > h3 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 14px;
}

#content .question > .content > h3 a {
    font-size: 16px;
    color: #428bca;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
}

#content .question > .content > h3 a:hover {
    text-decoration: underline;
}

#content .question > .content {
    vertical-align: top;
    padding: 2px 9px;
}

#content .question > .content > .bottom {
}

#content .question > .content > .bottom > .info {
    display: block;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #7b869d;
    float: right;
    padding: 4px;
}

#content .question > .content > .bottom > .tags {
    margin: 0;
    float: left;
}

#content .question > .content > .bottom > .tags > .tag {
    text-transform: lowercase;
}

.markup-container a {
    color: #33487b;
    text-decoration: none;
}

.markup-container a:hover {
    text-decoration: underline;
}

.markup-container ul p {
    margin: 0;
}

.markup-container ul ul {
    margin-top: 0;
}

.markup-container blockquote {
    margin-left: 19px;
    padding: 1px 20px;
    line-height: 20px;
    border-left: 1px solid rgb(204, 204, 204);
    font-style: italic;
    color: rgb(112, 112, 112);
}

.markup-container p code, .markup-container ul code {
    font-size: 12px;
    background: none repeat scroll 0% 0% rgb(245, 245, 245);
    border: 1px solid rgb(204, 204, 204);
    padding: 1px 3px;
    font-family: monospace;
}

.markup-container h1 {
    font-size: 22px;
    line-height: 1.5;
    font-weight: normal;
    margin: 10px 0;
}

.markup-container h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5625;
    margin: 5px 0;
}

.markup-container h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857;
}

.markup-container h1:first-child, .markup-container h2:first-child {
    margin-top: 0px;
}

.markup-container hr {
    padding: 0px;
    border-right: normal none;
    border-width: normal;
    border-style: solid none none;
    border-color: #7b869d -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #293756;
    text-align: center;
    margin: 20px 0;
}

.markup-container hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1em;
    padding: 0px 0.25em;
    color: rgb(100, 100, 100);
    background: none repeat scroll 0% 0% #dfe3eb;
}

.markup-container pre .hll { background-color: #ffffcc }

.markup-container pre {
    font-family: "Menlo", "Inconsolata", "Consolas", monospace;
    background: none repeat scroll 0% 0% rgb(236, 239, 245);
    overflow-x: auto;
    padding: 10px 15px;
    word-wrap: normal;
}

#content form {
    display: block;
    margin: 7px 0;
    padding 0;
}

#content label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans';
    margin-bottom: 7px;
    padding-left: 2px;
}

#content input[type=text], textarea {
    display: block;
    padding: 8px 10px;
    font-size: 14px;
    width: 97%;
    min-width: 97%;
    max-width: 97%;
    background: white;
    border: 1px solid rgba(189, 191, 199, .9);
    box-shadow: 0 1px 2px rgba(34,36,38,0.1) inset;
    font-family: monospace;
    font-size: 12px;
}

#content input[type=text]:focus, textarea:focus {
    border-color: #0077cc;
    color: #444;
}
