.voted {
    background: #b6bcc2 !important;
}

.voted .vote-count {
    font-weight: 200;
    color: black !important;
    font-size: 20px;
    margin-left: 0px
}

.votes {
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10%;
    border-radius: 60px;
    font-size: 17px;
    color: #fff;
    height: 60px;
    width: 60px;
    background: #1b3450;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    line-height: 60px;
    position: relative;
    float: right;
}

.votes .vote-count {
    font-weight: 200;
    color: #b6bcc2;
    font-size: 20px;
    margin-left: 0px
}