<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Q&A Data Science EPITA{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Q&A Data Science students at EPITA">
    <link rel="stylesheet" href="/static/css/design.css" type="text/css"
            media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/codehl.css" type="text/css"
            media="screen" charset="utf-8">
    {% block stylesheet %}{% endblock stylesheet %}
    {% block scripts %}{% endblock scripts %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
