<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Q&A Data Science EPITA{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Q&A Data Science students at EPITA">
    <link rel="stylesheet" href="/static/css/design.css" type="text/css"
            media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/codehl.css" type="text/css"
            media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/question.css" type="text/css"
            media="screen" charset="utf-8">
    {% block stylesheet %}{% endblock stylesheet %}
    {% block scripts %}{% endblock scripts %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
