{% extends 'base.html' %}

{% block content %}
    <header>
        <div class="container">
            <h1 id="logo">
                <a href="{% url 'qa:questions' %}">Q&A Data Science EPITA</a>
            </h1>
            <ul id="menu">
                <li>
                    <a href="{% url 'qa:questions' %}">
                        Questions
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'qa:new' %}">
                        Ask a question
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="https://github.com/toogy/hitchike/issues">
                        Help
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </header>
    <div id="content">
        {% block subcontent %}{% endblock subcontent %}
    </div>
{% endblock content %}
